@{
    ViewBag.PageTitle = "Yeni Kategori";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h2 class="m-0">@ViewBag.PageTitle</h2>
            </div>
            <div class="col-sm-6">
                <a class="btn btn-primary float-right" asp-action="List">Tüm kategoriler</a>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-danger card-outline">
                    <div class="card-header with-border clearfix">
                        <h3 class="card-title">Yeni Kategori</h3>
                    </div>
                    <div class="card-body">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
