@model EditCategoryDto
@{
    ViewBag.PageTitle = "Kategori Düzenle";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h2 class="m-0">Kategori Düzenle</h2>
            </div>
            <div class="col-sm-6">
                <a class="btn btn-primary float-right" asp-action="List">Tüm kategoriler</a>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-danger card-outline">
                    <div class="card-header with-border clearfix">
                        <h3 class="card-title">Kategori Düzenle</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-11 offset-1">
                                <form class="form-horizontal" asp-action="Edit" method="post">
                                    <input asp-for="CategoryId" type="hidden">
                                    <div class="form-group row">
                                        <label asp-for="CategoryName" class="col-sm-2 col-form-label">Kategori Adı</label>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control" asp-for="CategoryName">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-4 offset-sm-2">
                                            <button type="submit" class="btn btn-success">Kaydet</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
