<!DOCTYPE html>
<html lang="en">
    <head>
        @await Html.PartialAsync("Partials/_Head")
    </head>
    <body>
        @await Html.PartialAsync("Partials/_Topbar")
        @await Html.PartialAsync("Partials/_Navbar")

            @RenderBody()

        @await Html.PartialAsync("Partials/_Footer")
        @await Html.PartialAsync("Partials/_Script")
    </body>
</html>
