@model List<BrandModel>

@if (Model != null && Model.Any())
{
    <div class="container-fluid py-5">
        <div class="row px-xl-5">
            <div class="col">
                <div class="owl-carousel vendor-carousel">

                    @foreach (var brand in Model)
                    {
                        <div class="bg-light p-4">
                            <img src="@brand.ImageUrl" alt="@brand.BrandName">
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}
