@{
    //page title
    string adminPageTitle = !string.IsNullOrWhiteSpace(ViewBag.PageTitle) ? ViewBag.PageTitle : string.Empty;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@adminPageTitle</title>

    @await Html.PartialAsync("Partials/_Head")

    @RenderSection("styles", required: false)
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    
    <div class="wrapper">
        @await Html.PartialAsync("Partials/_Navbar")
        @await Html.PartialAsync("Partials/_MainSidebar")
        <div class="content-wrapper">
            @RenderBody()
        </div>
        @await Html.PartialAsync("Partials/_MainFooter")
    </div>

    @await Html.PartialAsync("Partials/_Script")

    @RenderSection("scripts", required: false)
</body>
</html>
