<!-- Shop Sidebar Start -->
<div class="col-lg-3 col-md-4">

    @await Component.InvokeAsync("ProductFilterByPrice")

    @await Component.InvokeAsync("ProductFilterByColor")

    @await Component.InvokeAsync("ProductFilterBySize")

</div>
<!-- Shop Sidebar End -->
