@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid mb-3">
    <div class="row px-xl-5">
        <div class="col-lg-8">
            @await Component.InvokeAsync("Carousel")
        </div>
        <div class="col-lg-4">
            @await Component.InvokeAsync("SpecialOffer")
        </div>
    </div>
</div>

@await Component.InvokeAsync("Featured")

@await Component.InvokeAsync("Categories")

@await Component.InvokeAsync("FeaturedProducts")

@await Component.InvokeAsync("OfferDiscount")

@await Component.InvokeAsync("RecentProducts")

@await Component.InvokeAsync("Vendors")

