@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid mb-3">
    <div class="row px-xl-5">
        <div class="col-lg-8">
            @await Component.InvokeAsync("Carousel")
        </div>
        <div class="col-lg-4">
            @await Component.InvokeAsync("SpecialOffer")
        </div>
    </div>
</div>

@await Component.InvokeAsync("Featured")

@await Component.InvokeAsync("Categories")

@await Component.InvokeAsync("FeaturedProducts")

<!-- Offer Start -->
<div class="container-fluid pt-5 pb-3">
    <div class="row px-xl-5">
        <div class="col-md-6">
            <div class="product-offer mb-30" style="height: 300px;">
                <img class="img-fluid" src="~/multishop-website-template/img/offer-1.jpg" alt="">
                <div class="offer-text">
                    <h6 class="text-white text-uppercase">Save 20%</h6>
                    <h3 class="text-white mb-3">Special Offer</h3>
                    <a href="" class="btn btn-primary">Shop Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="product-offer mb-30" style="height: 300px;">
                <img class="img-fluid" src="~/multishop-website-template/img/offer-2.jpg" alt="">
                <div class="offer-text">
                    <h6 class="text-white text-uppercase">Save 20%</h6>
                    <h3 class="text-white mb-3">Special Offer</h3>
                    <a href="" class="btn btn-primary">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Offer End -->

@await Component.InvokeAsync("RecentProducts")

<!-- Vendor Start -->
<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel vendor-carousel">
                <div class="bg-light p-4">
                    <img src="~/multishop-website-template/img/vendor-1.jpg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/multishop-website-template/img/vendor-2.jpg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/multishop-website-template/img/vendor-3.jpg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/multishop-website-template/img/vendor-4.jpg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/multishop-website-template/img/vendor-5.jpg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/multishop-website-template/img/vendor-6.jpg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/multishop-website-template/img/vendor-7.jpg" alt="">
                </div>
                <div class="bg-light p-4">
                    <img src="~/multishop-website-template/img/vendor-8.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Vendor End -->