<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
    
    <li class="nav-item">
        <a asp-controller="Category" asp-action="List" class="nav-link">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
                Category
            </p>
        </a>
    </li>

</ul>
