@model EditFeatureSliderDto
@{
    ViewBag.PageTitle = "Slider Düzenle";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-md-6">
                <h2 class="m-0">@ViewBag.PageTitle</h2>
            </div>
            <div class="col-md-6">
                <a class="btn btn-primary float-right" asp-action="List">Öne Çıkan Slider Listesi</a>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-danger card-outline">
                    <div class="card-header with-border clearfix">
                        <h3 class="card-title">@ViewBag.PageTitle</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-11 offset-1">
                                <form class="form-horizontal" asp-action="Edit" method="post">
                                    <input type="hidden" asp-for="FeatureSliderId">

                                    <div class="form-group row">
                                        <label asp-for="Title" class="col-md-2 col-form-label text-right">Başlık</label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" asp-for="Title">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label asp-for="Description" class="col-md-2 col-form-label text-right">Açıklama</label>
                                        <div class="col-md-10">
                                            <textarea class="form-control" asp-for="Description"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label asp-for="ImageUrl" class="col-md-2 col-form-label text-right">Image Url</label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" asp-for="ImageUrl">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label asp-for="DisplayOrder" class="col-md-2 col-form-label text-right">Görüntüleme Sırası</label>
                                        <div class="col-md-10">
                                            <input type="text" class="form-control" asp-for="DisplayOrder">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-2 text-right" asp-for="Status">Aktif</label>
                                        <div class="col-md-10">
                                            <div class="icheck-primary d-inline">
                                                <input type="checkbox" asp-for="Status" id="Status" value="true" />
                                                <label for="Status"></label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-4 offset-md-2">
                                            <button type="submit" class="btn btn-success">Kaydet</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
